<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="lib/jquery-1.11.1.js"></script>
    <script src="lib/tether.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="ctrl/MainController.js"></script>
    <style type="text/css">
        @font-face {
            font-family: Arizonia;
            src: url(styles/Arizonia-Regular.ttf);
        }
        .progress-bar {
            transition: width 1s ease-in-out;
        }
        .one-quote .close:active{
            outline: none;
        }
        .one-quote .close{
            position: absolute;
            right: 10px;
        }
        .one-quote {
            font-family: Arizonia;
            font-size: 40px;
            word-break: break-all;
        }
    </style>
</head>
<body ng-app="QuoteApp">
<div ng-controller="MainController" class="col-sm-12">
    <div class="pull-right">
        <div uib-alert ng-class="'alert-warning'" close="closeAlert()" ng-show="error.length>0">{{error}}</div>
    </div>
    <h2>Quotes Added</h2>
    <uib-progressbar value="quotes.length" max="10" animate="true"><i>{{quotes.length}} / 10</i></uib-progressbar>

    <div class="col-sm-6 mx-auto">
        <h5>Quote</h5>
        <textarea class="form-control" ng-model="newQuote"></textarea>
        <div class="mx-auto mt-3 mb-3 col-md-2 text-center">
            <button type="button" class="btn btn-primary font-weight-bold" ng-click="addQuote()">Add Quote</button>
        </div>
    </div>
    <div class="one-quote col-sm-3 float-left mt-2" ng-repeat="quote in quotes track by $index">
        <div class="p-3 rounded card">
            <button type="button" class="close float-right col-sm-1" ng-click="remove($index)">
                <span aria-hidden="true">×</span>
            </button>
            {{quote}}
        </div>
    </div>
</div>
</body>
</html>